
<html>
<head>
    <link href="frame/css/extra.css" rel="stylesheet">
    <link href="frame/css/components.min.css" rel="stylesheet" type="text/css"/>
    <script src="yyhpt/pages/jhglhy/fwxmhcAdd.js" type="text/javascript"></script>
</head>
<div class="panel-body" style="font-size: 13px;padding-top: 5px;">
    <form id="addForm" method="post" class="form-horizontal"
          onclick="return false;" style="font-size: 13px;">
        <div id="toolbtn_" class="pull-right">
            <button id="surehh" class="btn btn-default btn-sm">确定</button>
            <button id="id_canlce" class="btn btn-default btn-sm">退出</button>
        </div>
        <table id="fwxmhctable" class="table-container">
        </table>

    </form>
</div>
</html>










