
<div class="panel-body" style="font-size: 13px;padding-top: 5px;">
    <form id="addForm" method="post" class="form-horizontal"
          onclick="return false;" style="font-size: 13px;">
        <div id="toolbtn_" class="pull-right">
            <button id="jhsh_sure" class="btn btn-default btn-sm">确定</button>
            <button id="id_canlce" class="btn btn-default btn-sm">退出</button>
        </div>
        <table id="fwxmtable" class="table-container">
        </table>

    </form>
</div>




<!--<table id="fwxmtable" class="table-container">
</table>-->

<script src="yyhpt/pages/jhglhy/jhzxAdd.js" type="text/javascript"></script>



